<div class="footer-top">
    <div class="top-wrap">
        <a href="#"></a>
        <a href="#"></a>
        <span></span>
    </div>
</div>
<div class="footer-bottom">
    <div class="bottom-wrap">
        <ul class="clear">
            <li><a href="#">网络商城</a></li>
            <li><a href="#">店铺信息</a></li>
            <li><a href="#">生活良品研究所</a></li>
        </ul>
        <ul class="clear">
            <li><a href="#">ATELIER MUJI</a></li>
            <li><a href="#">CAFE&Meal MUJI</a></li>
            <li><a href="#">MUJI Diner</a></li>
        </ul>
        <ul class="clear">
            <li><a href="#">商品目录</a></li>
        </ul>
        <ul class="clear">
            <li><a href="#">问题咨询</a></li>
            <li><a href="#">店铺合作伙伴</a></li>
            <li><a href="#">人才招聘</a></li>
            <li><a href="#">MUJI message</a></li>
            <li><a href="#">何谓无印良品</a></li>
            <li><a href="#">企业情报</a></li>
        </ul>
        <ul class="clear">
            <li><a href="#">中国</a></li>
        </ul>
        <ul class="clear">
            <li><a href="#">© Ryohin Keikaku Co., Ltd.</a></li>
            <li><a href="#">© 无印良品（上海）商业有限公司 地址：上海市静安区南京西路1601号35楼3501-3508室</a></li>
            <li><a href="#">沪ICP备08018225号</a></li>
            <li><a href="#">上海工商</a></li>
        </ul>
    </div>
</div>