<div class="section-wrap">
    <form class="search">
        <input type="text" placeholder="搜索...">
        <button class="submit"></button>
    </form>
    <ul class="search-result">
    </ul>
    <div class="option">
        <div class="option-left">
            <a href="#"></a>
            <a href="#"></a>
            <a href="/html/cart.html" id="cart"></a>
        </div>
        <div class="option-center">
            <span id="app">下载移动端app</span>
            <i id="QR_code"></i>
        </div>
        <div class="option-right">
            <a href="/html/login.html" id="login_register">登录/注册</a>
            <span id="welcome" class="welcome">user</span>
            <span id="out" class="out">注销</span>
        </div>
    </div>
</div>